@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: aqua;
  background: -webkit-linear-gradient(90deg, #fbaa80 0%, #f7cb6c 35%);
  background: #fd5400;
  background: -webkit-gradient(linear, left top, right top, from(#fbaa80), color-stop(35%, #f7cb6c));
  background: linear-gradient(90deg, #fbaa80 0%, #f7cb6c 35%);
}

.App {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.App #se {
  text-decoration: none;
  color: #f1f1f1;
}
.App #se #see {
  position: absolute;
  top: 110%;
}
.App #se #see #img11 {
  width: 50%;
}
.App #se #see #seano {
  bottom: 3%;
}
.App #DomH4 {
  font-size: 18px;
}
.App #Domi {
  text-decoration: none;
  color: #fff;
}
.App #Domi #Domii #img1 {
  position: absolute;
  top: 73%;
  width: 40%;
  height: 30%;
}
.App #Domi #Domii #ano1 {
  position: absolute;
  top: 64%;
  font-family: "Oswald", sans-serif;
}
.App #Domi #Domii #DomiH4 {
  font-family: "Oswald", sans-serif;
  position: absolute;
  top: 58%;
}
.App .AppH {
  background-color: aqua;
  color: azure;
  text-align: center;
}
.App #Pid {
  text-decoration: none;
  color: #fff;
}
.App #Pid #Pidd {
  text-decoration: none;
  color: #fff;
  width: 100%;
}
.App #Pid #Pidd #pidimg {
  width: max(25%, 25vw);
  height: max(25%, 25vh);
  position: absolute;
  top: 30%;
}
.App #Pid #Pidd #ano {
  font-family: "Oswald", sans-serif;
  position: absolute;
  top: 20%;
}
.App #Pid #Pidd #PidH4 {
  font-family: "Oswald", sans-serif;
  position: absolute;
  left: 5%;
}